@import "../../scss/variables.scss";


.home {

  .showcase {
    width: 80%;
    margin: 2rem auto 0;
    

  }

  .textInfoCard {
    width: 85%;
    margin: 0 auto;
    padding: 30px 30px;
  }
  .allCards {
    padding: 30px 40px;
    width: 85%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(276px, 1fr));
  }
  
}


@media (max-width : $xl) {
  .home{
    .showcase{
        width: 90%;
    }
  }
}


@media (max-width : $sm) {
  .home{
    .showcase{
        width: 100%;
    }
  }
}

