/* Styles for info component */
.info {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  /* Styles for phone number */
  .phoneN {
    margin-top: 20px;
    font-size: 18px;
  }
  
  /* Styles for address */
  .address {
    margin-top: 20px;
    font-size: 18px;
  }
  
  /* Styles for address map */
  .addressM {
    margin-top: 20px;
    font-size: 18px;
  }
  
  /* Styles for email */
  .emaill {
    margin-top: 20px;
    font-size: 18px;
  }
  
  /* Styles for telegram */
  .telegramm {
    margin-top: 20px;
    font-size: 18px;
  }
  
  /* Styles for Instagram */
  .instagramm {
    margin-top: 20px;
    font-size: 18px;
  }
  