$blue: #01579B;

.CardProd {
    margin: 0 auto;
    width: 270px;
    background-color: white;
    border: 1px solid rgba(234, 230, 230, 0.686);
    border-radius: 3px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    cursor: pointer;
    position: relative;
    padding: 20px;
    box-shadow: 0px 2px 10px rgba(50, 50, 71, 0.14);
    margin: 10px 20px;
    .cardTop {
        height: 60%;
        width: 100%;
        
        img {
            height: 100%;
            width: 100%;
            object-fit: cover;
            transition: .3s;

            &:hover {
                transform: scale(1.05);
            }
        }
    }

    .cardBottom {
        padding: 30px 20px;
        height: 20%;
        width: 100%;
        display: flex;
        flex-direction: column;

        // position: absolute;
        // bottom: 1rem;
        .titleWrap {
            display: flex;
            flex-direction: column;
            line-height: 2rem;

            .title {
                font-size: 1.4rem;
                font-weight: 600;
            }

            .desc {
                font-size: 1rem;
                font-weight: 400;
            }
        }

        .priceWrap {
            display: flex;
            align-items: flex-end;
            justify-content: space-between;
        }

        .korzina {
            position: absolute;
            background-color: #01579B;
            width: 45%;
            height: 60px;
            bottom: 0;
            right: 0;
            border-radius: 10px 0 10px 0;
            box-shadow: 0px 2px 10px rgba(50, 50, 71, 0.14);
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }
}