@import "../../scss/variables.scss";


* {
    padding: 0;
    margin: 0;
    list-style: none;
    text-decoration: none;

    a {
        color: inherit;
        font-size: 1.2rem;
    }
}

.navbar {
    .label1 {
        display: none;
      }
    width: 100%;
    background-color: $darkblue;
    height: 55px;
    
    top: 0;
    &__main {
        width: 80%;
        margin: 0 auto;
        padding: .8rem;
        display: flex;
        align-items: center;
        justify-content: space-between;
        
        height: 100%;
        &__links {
            width: 40%;
            display: flex;
            align-items: center;
            justify-content: flex-start;
            gap: 1.2rem;
            
            a {
                padding: .5rem;
                font-size: 1.1rem;
                color: $linkColor;
            }
        }

        &__lang {
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 2rem;
            color: $linkColor;
            &__mode {
                i{
                    color: $linkColor;
                    font-size: 1.1rem;
                }
            }
        }
    }
}


@media only screen and (max-width: 768px) {
    
}




@media (max-width: $lg) {
    .navbar {
        width: 100%;
        background-color: $darkblue;
        height: 55px;
        
        top: 0;
        &__main {
            width: 95%;
            margin: 0 auto;
            padding: .9rem .5rem;
            // display: flex;
            // align-items: center;
            // justify-content: space-between;
            
            height: 100%;
            &__links {
                width: 50%;
                // display: flex;
                // align-items: center;
                // justify-content: flex-start;
                gap: 1rem;
                
                a {
                    padding: .5rem;
                    font-size: .9rem;
                }
            }
    
            &__lang {
                height: 100%;
                display: flex;
                align-items: center;
                justify-content: center;
                gap: 1rem;
                color: $linkColor;
                &__mode {
                    i{
                        color: $linkColor;
                        font-size: 1.1rem;
                    }
                }
            }
        }
    }
}

@media (max-width:  $sm) {
    .navbar {
        width: 100%;
        background-color: $darkblue;
        height: 55px;
        
        top: 0;
        &__main {
            width: 95%;
            margin: 0 auto;
            padding: .9rem .5rem;
            // display: flex;
            // align-items: center;
            // justify-content: space-between;
            
            height: 100%;
            &__links {
                width: 50%;
                // display: flex;
                // align-items: center;
                // justify-content: flex-start;
                gap: 1rem;
                
                a {
                    padding: .5rem;
                    font-size: .9rem;
                }
            }
    
            &__lang {
                height: 100%;
                display: flex;
                align-items: center;
                justify-content: center;
                gap: 1rem;
                color: $linkColor;
                &__mode {
                    i{
                        color: $linkColor;
                        font-size: 1.1rem;
                    }
                }
            }
        }
    }
}

@media (max-width:  500px){
    .navbar {
        width: 100%;
        background-color: $darkblue;
        height: auto;
        
        top: 0;
        &__main {
            width: 95%;
            margin: 0 auto;
            padding: .9rem .5rem;
            // display: flex;
            // align-items: center;
            // justify-content: space-between;
            
            height: 100%;
            &__links {
                width: 50%;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: flex-start;
                gap: 1rem;
                
                a {
                    padding: .5rem;
                    font-size: .9rem;
                }
            }
    
            &__lang {
                height: 100%;
                display: flex;
                align-items: center;
                justify-content: center;
                gap: 1rem;
                color: $linkColor;
                &__mode {
                    i{
                        color: $linkColor;
                        font-size: 1.1rem;
                    }
                }
            }
        }
    }
}
