
@import "../../scss/variables.scss";

.footer{
    width: 100%;
    background-color: $darkblue;
    padding: 2rem 0 5rem;
    &__main{
        width: 80%;
        margin: 0 auto;
        color: $linkColor;
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        flex-wrap: wrap;
        gap: 1.5rem;
        ul{
            line-height: 1.8rem;
            li{
                font-size: 1rem;
                b{
                    font-size: 1.2rem;
                }
            }
            .network{
                display: flex;
                align-items: center;
                gap: 1rem;
                font-size: 2rem;
                padding: .4rem;
            }
        }
    }
}


@media(max-width: $xl) {
    .footer{
        width: 100%;
        padding: 2rem 0 5rem;
        &__main{
            width: 90%;
            
            ul{
                line-height: 1.8rem;
                li{
                    font-size: 1rem;
                    b{
                        font-size: 1.2rem;
                    }
                }
                // .network{
                //     display: flex;
                //     align-items: center;
                //     gap: 1rem;
                //     font-size: 2.5rem;
                //     padding: .4rem;
                // }
            }
        }
    }
    
}


@media(max-width: $xs) {
    .footer{
        width: 100%;
        padding: 2rem 0 5rem;
        &__main{
            width: 80%;
            gap: 2rem;
            ul{
                line-height: 1.4rem;
                li{
                    font-size: .8rem;
                    b{
                        font-size: 1rem;
                    }
                }
                // .network{
                //     display: flex;
                //     align-items: center;
                //     gap: 1rem;
                //     font-size: 2.5rem;
                //     padding: .4rem;
                // }
            }
        }
    }
    
}


